<acriticle class="details-article">
	<h1 class="article-title-detail"><%= @article.title %></h1>

	<div class="glyphicon glyphicon-calender" id="article-date">
		<%= @article.created_at.strftime("%b %d %Y") %>
	</div>

	<div class="article-body">
		<%= @article.body %>
	</div>
</acriticle>